---
- kubernetes:
    cluster:
      show: true
      cpu: true
      memory: true
      showLabel: true
      label: "cluster"
    nodes:
      show: true
      cpu: true
      memory: true
      showLabel: true
- resources:
    backend: resources
    expanded: true
    cpu: true
    memory: true
    network: default
- search:
    provider: duckduckgo
    target: _blank
- datetime:
    text_size: xl
    format:
      timeStyle: short
- openmeteo:
    # Calgary
    latitude: 50.97
    longitude: -114.01
    timezone: "America/Edmonton"
    units: metric
    cache: 5 # Time in minutes to cache API responses, to stay within limits
- longhorn:
    expanded: true
    total: true
    labels: true
    nodes: true
