clusterName: dk8s
# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
talosVersion: v1.11.5
kubernetesVersion: v1.34.1
endpoint: https://192.168.10.140:6443 # Talos endpoint, the VIP
allowSchedulingOnControlPlanes: true
cniConfig:
  name: "none"
controlPlane:
  patches:
    - "@./patches/longhorn.yaml"
    - "@./patches/local-path.yaml"
  schematic:
    customization:
      extraKernelArgs:
        - net.ifnames=0
nodes:
  - hostname: "d-hpp-1.ipreston.net"
    ipAddress: 192.168.10.8
    controlPlane: true
    installDisk: /dev/nvme0n1
    userVolumes: &uservolumes
      # will mount to /var/mnt/longhorn
      - name: longhorn
        provisioning:
          grow: true
          minSize: 10GB
          diskSelector:
            match: disk.transport == "sata" && !disk.rotational && !system_disk
        filesystem:
          type: xfs
      # will mount to /var/mnt/localpath
      - name: localpath
        provisioning:
          grow: true
          minSize: 10GB
          diskSelector:
            match: disk.transport == "sata" && !disk.rotational && !system_disk
        filesystem:
          type: xfs
    networkInterfaces:
      - interface: eth0
        dhcp: true
        vip: &vip
          ip: 192.168.10.140
    machineFiles: &machinefiles
      - content: |
          [plugins."io.containerd.cri.v1.images"]
          discard_unpacked_layers = false
        op: create
        path: /etc/cri/conf.d/20-customization.part
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/intel-ucode
            - siderolabs/iscsi-tools
            - siderolabs/util-linux-tools
  - hostname: "d-hpp-2.ipreston.net"
    ipAddress: 192.168.10.36
    controlPlane: true
    installDisk: /dev/nvme0n1
    userVolumes: *uservolumes
    networkInterfaces:
      - interface: eth0
        dhcp: true
        vip: *vip
    machineFiles: *machinefiles
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/intel-ucode
            - siderolabs/iscsi-tools
            - siderolabs/util-linux-tools
  - hostname: "d-hpp-3.ipreston.net"
    ipAddress: 192.168.10.6
    controlPlane: true
    installDisk: /dev/nvme0n1
    userVolumes: *uservolumes
    networkInterfaces:
      - interface: eth0
        dhcp: true
        vip: *vip
    machineFiles: *machinefiles
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/intel-ucode
            - siderolabs/iscsi-tools
            - siderolabs/util-linux-tools
