---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app homepage
  namespace: flux-system
spec:
  dependsOn:
    - name: envoy-gateway-config
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  interval: 1h
  path: ./k8s/apps/homepage/${clusterpath}
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  timeout: 5m
  wait: true
  images:
    - name: ghcr.io/gethomepage/homepage
      # renovate: datasource=docker depName=ghcr.io/gethomepage/homepage
      newTag: "v1.9.0"
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-config
        optional: false
