---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cnpg-system
components:
  - ../../../components/namespace-privileged
resources:
  - ./helmrepository.yaml
  - ./helmrelease.yaml
