- Developer:
  - Azure Portal:
    - abbr: Az
      icon: azure
      href: "https://portal.azure.com/"
  - blog:
    - abbr: ip
      href: "http://blog.ianpreston.ca/"
  - Databricks Academy:
    - abbr: db
      icon: "https://www.svgrepo.com/show/330261/databricks.svg"
      href: "https://customer-academy.databricks.com/learn/signin"
  - Github:
    - abbr: GH
      icon: github
      href: https://github.com/
  - HackerNews:
    - abbr: HN
      href: https://news.ycombinator.com
- General:
  - ambiphone:
    - abbr: ap
      href: "https://ambiph.one/"
  - calendar:
    - href: "https://calendar.google.com/calendar/"
      icon: google-calendar
  - chatGPT:
    - href: "https://chat.openai.com/"
      icon: chatgpt
  - drive:
    - href: "https://drive.google.com/"
      icon: google-drive
  - gmail:
    - href: "https://mail.google.com/mail/u/0/#inbox"
      icon: gmail
  - libgen:
    - href: "https://libgen.is/"
      icon: google-play-books
  - maps:
    - href: "https://google.com/maps"
      icon: google-maps
  - pocket:
    - href: "https://app.getpocket.com/"
      abbr: po
  - raindrop:
    - abbr: rd
      href: "https://app.raindrop.io/my/-1"
  - trello:
    - href: "https://trello.com/b/1q8n6ak4/main"
      icon: atlassian-trello
  