---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/services
- Acquisition:
  - jellyseerr:
      href: "https://jellyseerr.{{ subdomain }}.ipreston.net"
      icon: jellyseerr
      description: media
      server: my-docker
      container: jellyseerr
      widget:
        type: jellyseerr
        url: "https://jellyseerr.{{ subdomain }}.ipreston.net"
        key: "{{ jellyseerr_key }}"
  - sabnzbd:
      href: "https://sabnzbd.{{subdomain }}.ipreston.net"
      icon: sabnzbd
      server: my-docker
      container: sabnzbd
      widget:
        type: sabnzbd
        url: "https://sabnzbd.{{subdomain }}.ipreston.net"
        key: "{{ sabnzbd_key }}"
  - sonarr:
      href: "https://sonarr.{{subdomain }}.ipreston.net"
      icon: sonarr
      server: my-docker
      container: sonarr
      widget:
        type: sonarr
        url: "https://sonarr.{{subdomain }}.ipreston.net"
        key: "{{ sonarr_key }}"
  - radarr:
      href: "https://radarr.{{subdomain }}.ipreston.net"
      icon: radarr
      server: my-docker
      container: radarr
      widget:
        type: radarr
        url: "https://radarr.{{subdomain }}.ipreston.net"
        key: "{{ radarr_key }}"
  - mylar:
      href: "https://mylar.{{ subdomain }}.ipreston.net"
      icon: mylar
      server: my-docker
      container: mylar
      widget:
        type: mylar
        url: "https://mylar.{{ subdomain }}.ipreston.net"
        key: "{{ mylar_key }}"
  - prowlarr:
      href: "https://prowlarr.{{subdomain }}.ipreston.net"
      icon: prowlarr
      server: my-docker
      container: prowlarr
      widget:
        type: prowlarr
        url: "https://prowlarr.{{subdomain }}.ipreston.net"
        key: "{{ prowlarr_key }}"
  - bazarr:
      href: "https://bazarr.{{subdomain }}.ipreston.net"
      icon: bazarr
      server: my-docker
      container: bazarr
      widget:
        type: bazarr
        url: "https://bazarr.{{subdomain }}.ipreston.net"
        key: "{{ bazarr_key }}"
  - tubesync:
      href: "https://tubesync.{{ subdomain }}.ipreston.net"
      icon: tubesync
      server: my-docker
      container: tubesync

- Consumption:
  - actualbudget:
      href: "https://actualbudget.{{ subdomain }}.ipreston.net"
      icon: actual
      description: finances
      server: my-docker
      container: actualbudget

  - jellyfin:
      href: "https://jellyfin.{{ subdomain }}.ipreston.net"
      icon: jellyfin
      description: media
      server: my-docker
      container: jellyfin
      widget:
        type: jellyfin
        url: "https://jellyfin.{{ subdomain }}.ipreston.net"
        key: "{{ jellyfin_key }}"
        enableBlocks: true
        fields: ["movies", "series", "episodes"]
        enableNowPlaying: true
  - hoarder:
      href: "https://hoarder.{{ subdomain }}.ipreston.net"
      icon: hoarder
      description: bookmark manager
      server: my-docker
      container: hoarder
  - komga:
      href: "https://komga.{{ subdomain }}.ipreston.net"
      icon: komga
      description: comics
      server: my-docker
      container: komga
  - mealie:
      href: "https://mealie.{{ subdomain }}.ipreston.net"
      icon: mealie
      description: Recipe Manager
      server: my-docker
      container: mealie
  - memos:
      href: "https://memos.{{ subdomain }}.ipreston.net"
      icon: memos
      description: Notes mostly highlight exports
      server: my-docker
      container: memos
  - miniflux:
      href: "https://miniflux.{{ subdomain }}.ipreston.net"
      icon: miniflux
      description: RSS reader
      server: my-docker
      container: miniflux
      widget:
        type: miniflux
        url: "https://miniflux.{{ subdomain }}.ipreston.net"
        key: "{{ miniflux_api_key }}"
        fields: ["unread"]
  - photos:
      href: "http://laconiatrust.ipreston.net:5000/?launchApp=SYNO.Foto.AppInstance#/personal_space/timeline"
      icon: nextcloud-photos
      description: Synology photo manager
  - piped:
      href: "https://piped.{{ subdomain }}.ipreston.net"
      icon: piped
      description: youtube
      server: my-docker
      container: piped
  - wallabag:
      href: "https://wallabag.{{ subdomain }}.ipreston.net"
      icon: wallabag
      description: Read it later
      server: my-docker
      container: wallabag

- Infrastructure:
  - pfsense:
      href: "https://behemoth.ipreston.net:10443"
      icon: pfsense
      description: router
      # Not working right now, maybe self signed cert issue?
      # widget:
      #   type: pfsense
      #   url: "https://behemoth.ipreston.net:10443"
      #   username: admin
      #   password: "{{ pfsense_pass }}"
      #   wan: "igc0"
      #   fields: ["load", "memory", "temp"]
  - laconia:
      href: "http://laconiatrust.ipreston.net:5000"
      icon: synology
      description: NAS
      widget:
        type: diskstation
        url: "http://laconiatrust.ipreston.net:5000"
        username: "ipreston"
        password: "{{ laconia_pass }}"
        fields: ["volumeAvailable", "resources.cpu", "resources.mem"]
  - traefik:
      href: "https://traefik.{{ subdomain }}.ipreston.net"
      icon: traefik
      description: reverse proxy
      server: my-docker
      container: traefik
  - unifi:
      href: "https://192.168.10.41:8443"
      icon: unifi
      description: WiFi controller
      server: my-docker
      container: unifi
  - xo:
      href: "http://xo.ipreston.net"
      icon: "https://xcp-ng.org/assets/img/mainlogo.png"
      description: hypervisor
  - blikvm:
      href: "http://blikvm.ipreston.net"
      icon: "pikvm"
      description: "KVM over IP"

