---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/settings

title: Ian's homelab
theme: dark
color: slate
background:
  image: https://cdnb.artstation.com/p/assets/images/images/006/897/659/large/mikael-gustafsson-wallpaper-mikael-gustafsson.jpg
  blur: sm # sm, "", md, xl... see https://tailwindcss.com/docs/backdrop-blur
  saturate: 50 # 0, 50, 100... see https://tailwindcss.com/docs/backdrop-saturate
  brightness: 50 # 0, 50, 75... see https://tailwindcss.com/docs/backdrop-brightness
  opacity: 50 # 0-100
useEqualHeights: true
# fiveColumns: true
layout:
  - General:
    header: true
    style: row
    columns: 4
  - Consumption:
    header: true
    style: row
    columns: 4
  - Developer:
    header: true
    style: row
    columns: 4
  - Infrastructure:
    header: true
    style: row
    columns: 4
