---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/service-widgets

- resources:
    cpu: true
    memory: true
    disk: /

# - search:
#     provider: duckduckgo
#     focus: true
#     target: _blank
#
- datetime:
    text_size: xl
    format:
      timeStyle: short

- openmeteo:
    # Calgary
    latitude: 50.97
    longitude: -114.01
    timezone: "America/Edmonton"
    units: metric 
    cache: 5 # Time in minutes to cache API responses, to stay within limits
