---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: platform-dev
  namespace: flux-system
spec:
  interval: 1h
  path: ./k8s/app-flux-kustomizations/platform/dev
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  timeout: 5m
  wait: true
  postBuild:
    substitute:
      subdomain: dk8s
      clusterpath: dev
