---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app authentik
spec:
  timeout: "10m"
  chartRef:
    kind: OCIRepository
    name: authentik
  dependsOn: []
  interval: 15m
  values:
    global:
      podAnnotations:
        secret.reloader.stakater.com/reload: authentik-secret
      deploymentStrategy:
        type: RollingUpdate
      env:
        - name: AUTHENTIK_POSTGRESQL__NAME
          value: *app
        - name: AUTHENTIK_POSTGRESQL__HOST
          value: ${APP}-pooler
        - name: AUTHENTIK_POSTGRESQL__USER
          valueFrom:
            secretKeyRef:
              name: ${APP}-cnpg-db-app
              key: username
        - name: AUTHENTIK_POSTGRESQL__PASSWORD
          valueFrom:
            secretKeyRef:
              name: ${APP}-cnpg-db-app
              key: password
        - name: AUTHENTIK_POSTGRESQL__USE_PGBOUNCER
          value: "true"
        - name: AUTHENTIK_POSTGRESQL__SSLMODE
          value: prefer
      envFrom:
        - secretRef:
            name: authentik-secret
    server:
      autoscaling:
        enabled: true
        minReplicas: 1
      resources:
        requests:
          cpu: 200m
        limits:
          memory: 1Gi
      metrics:
        prometheus:
          serviceMonitor:
            enabled: true
      route:
        main:
          enabled: true
          hostnames: ["authentik.${subdomain}.ipreston.net"]
          parentRefs:
            - name: envoy-internal
              namespace: envoy-gateway
              sectionName: https
    worker:
      autoscaling:
        enabled: true
        minReplicas: 1
      resources:
        requests:
          cpu: 200m
        limits:
          memory: 1Gi
