http:
  middlewares:
    middlewares-basic-auth:
      basicAuth:
        users:
          - "{{ traefik_httppasswd}}"
        realm: "Traefik 2 Basic Auth"
    middlewares-https-redirectscheme:
      redirectScheme:
        scheme: https
        permanent: true
    middlewares-rate-limit:
      rateLimit:
        average: 100
        burst: 50
    middlewares-compress:
      compress: {}