api:
  insecure: true
log:
  level: INFO
global:
  checkNewVersion: true
entryPoints:
  http:
    address: ":80"
  https:
    address: ":443"
    forwardedHeaders:
      trustedIPs:
        - "127.0.0.1/32"
        - "192.168.10.0/24"
        - "192.168.15.0/24"
        - "192.168.40.0/24"
    http:
      tls:
        certResolver: dns-cloudflare
        domains:
          - main: "{{ subdomain }}.ipreston.net"
            sans:
              - "*.{{ subdomain }}.ipreston.net"
providers:
  file:
    watch: true
    directory: "/rules"
  docker:
    exposedbydefault: false
    network: traefik_net
certificatesResolvers:
  dns-cloudflare:
    acme:
      # caServer: https://acme-staging-v02.api.letsencrypt.org/directory # LetsEncrypt Staging Server - uncomment when testing
      email: "{{ cloudflare_email }}"
      storage: "/acme.json"
      dnsChallenge:
        provider: "cloudflare"
        resolvers: "1.1.1.1:53,1.0.0.1:53"
        delayBeforeCheck: "90"
