---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
spec:
  interval: 30m
  chart:
    spec:
      chart: longhorn
      version: "not-used"
      sourceRef:
        kind: HelmRepository
        name: longhorn
  values:
    defaultBackupStore:
      backupTarget: nfs://laconia.ipreston.net:/volume1/${LACONIA_BACKUPS_VOLUME}/longhorn
      pollInterval: "300"
    persistence:
      defaultClass: false # Going to define my own storageclasses later
    preUpgradeChecker:
      jobEnabled: false
    defaultSettings:
      storageMinimalAvailablePercentage: "10"
    metrics:
      serviceMonitor:
        enabled: true
